---
import Layout from "../../layouts/Layout.astro";
import IngredientView from "../../components/IngredientView.svelte";
import { getRecipeApi } from "../../components/APIFunctions.js";
import Improvement from "../../components/Improvement.svelte";

const { id } = Astro.params;

let recipe = {
  recipeName: "recipeName",
  origin: "Origin",
  category: "Category",
  portion: 0,
  region: "region",
  ingredients: [],
  steps: [],
  notes: [],
};

recipe = await getRecipeApi(id);
---

<Layout title={recipe.recipeName}>
  <div class="content">
    <section class="title textLeft">
      <div class="origin">
        <p>Opphav: {recipe.origin}</p>
        <p>Kategori: {recipe.category}</p>
        <p>Region: {recipe.region}</p>
      </div>
      <div class="recipeName">
        <h1>{recipe.recipeName}</h1>
      </div>
      <div class="edit">
        <a href="/">Alle oppskrifter</a>
        <a href={`/edit/${id}`}>Rediger oppskrift</a>
      </div>
    </section>
    <IngredientView recipe={recipe} client:load />
    <section class="notes">
      <h3>Notater</h3>
      <div class="textLeft">
        <ul>
          {recipe.notes.map((note) => <li>{note}</li>)}
        </ul>
      </div>
    </section>

    <section class="method">
      <h3>Fremgangsmåte</h3>
      <div class="textLeft">
        <ol>
          {recipe.steps.map((step) => <li>{step}</li>)}
        </ol>
      </div>
    </section>
  </div>
  <Improvement client:load location="recipeView" />
</Layout>

<style>
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "t t t"
      "i n n"
      "i m m";
  }

  main {
    font-family: sans-serif;
    min-width: 1000px;
  }

  .title {
    grid-area: t;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "o rn rn rn e";
  }

  .recipeName {
    text-align: center;
    grid-area: rn;
  }
  .origin {
    grid-area: o;
  }
  .edit {
    text-align: right;
    grid-area: e;
  }

  .ingredients {
    grid-area: i;
  }
  .notes {
    grid-area: n;
  }
  .method {
    grid-area: m;
  }

  section {
    border: 1px solid black;
    margin: 0 1em 1em 0;
    padding: 1em;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
  }

  .textLeft {
    text-align: left;
  }

  @media (max-width: 700px) {
    .content {
      grid-template-columns: 1fr;
      grid-template-areas:
        "t"
        "n"
        "i"
        "m";
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
    }

    .origin,
    .edit {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .recipeName {
      margin: 20px 0;
    }

    .edit a {
      margin: 0 10px;
    }
  }
</style>
